<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dungeon Diary</title>
    </head>
<body>
    <div class="container">
        <div class="two columns">
            <div class="sidebar">
                <div class="nav">
                    <a href="/dashboard" class="button">Dashboard</a>
                </div>
                <br>
                {% for group in user_groups %}
                <div class="nav">
                    <h6>{{group.group_name.upper}}</h6>
                    <a href="/group/{{group.id}}" class="button">group details</a>
                    <a href="/schedule/{{group.id}}" class="button">upcoming session</a>
                    <a href="/archive/{{group.id}}" class="button">archive</a>
                </div>
                <br>
                {% endfor %}
                <div class="nav">
                    <a href="/new_group" class="button">New Group</a>
                </div>
                <div class="nav">
                    <a href="/user/{{this_user.id}}" class="button">Update profile</a>
                </div>
                <div class="nav">
                    <a href="/logout" class="button">Logout</a>
                </div>
            </div>
        </div>
        <div class="two columns">
            <br>
        </div>
        <div class="six columns">
            <h2>Session details:</h2>
            {% if this_session.archived == False %}
            <p>{{this_session.date}}</p>
            <p>{{this_session.time}}</p>
            <p>{{this_session.schedule_notes}}</p>
                    {% if this_group.DM.id == this_user.id and this_session.date <= today %}
                        <a href="/archive_session/{{this_session.id}}" class="button">archive session</a>
                    {% else %}
                        <a href="/session/{{this_session.id}}/group/{{this_group.id}}/edit" class="button">edit session</a>
                    {% endif %}
            {% endif %}
            {% if this_session.archived == True %}
            <p>Date: {{this_session.date}}</p>
            <p>Summary: {{this_session.session_notes}}</p>
            <p>NPCs: {{this_session.npcs_met}}</p>
            <p>Monsters: {{this_session.monsters}}</p>
            <p>Treasure: {{this_session.treasure}}</p>
            <br>
            <a href="/session/{{this_session.id}}/group/{{this_group.id}}/edit" class="button">edit session</a>
            {% endif %}
        </div>
        <div class="two columns">
            <br>
        </div>
    </div>
</body>
</html>